.aside-nav{
  box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);
  margin-top: -20px;
  transition: margin-left .2s ease-in;

}
.aside-nav.inactive{
  margin-left: -250px;
}
.aside-nav ul{
  list-style: none;
  margin-top: 30px;
}
.aside-nav ul:nth-child(1) li{
 display: flex;
 align-items: center;
 margin-left: -40px;
 width: 240px;
 padding-left: 30px;

 
}
.aside-nav ul:nth-child(1) li:hover{

background-color: rgba(128, 134, 139, 0.384);
} 

.Category li{
  margin-top: 10px;
  margin-left: -40px;
  display: flex;
  justify-content: center;
  padding-left: 30px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
 /* border:1px solid red; */
 width: 240px;
}
.Category li:hover{

background-color: rgba(128, 134, 139, 0.384);
}
.Category li a:hover{
  color:#2962ff;
  background-color: transparent;
} 
.aside-nav ul li a{
 color: black;
}
.aside-nav ul li a:hover{
 color: #2962ff;
}

.center_section::-webkit-scrollbar {
  display: none;
}
@media  screen and (max-width:500px) {
  .aside-nav{
      display: none;
  }

}
